html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
	background-color: #000;
}

.groundBox
{
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	background-color: #000;
	color: ghostwhite;
}

.groundBox > .row, #gnavi > .row
{
	height: 100%;
}

#main, #gnavi
{
	height: 100%;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: #000;
}

.middleBox
{
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.content_home
{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 15px;
	background-color: #000;
	border: 1px solid ghostwhite;
}

.content_about, .content_works
{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 15px;
}

.panel-heading
{
	border-bottom: 2px dotted ghostwhite;
}

.panel-heading > h1
{
	margin: 0;
	color: ghostwhite;
}

.head_profile
{
	border-bottom: 2px solid ghostwhite;
}

#gnavi
{
	margin: 0;
}

.linkInPage
{
	height: 100%;
	padding-left: 15px;
	padding-bottom: 15px;
	margin: 0;
	text-align: right;
	font-size: 2.5em;
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}

.gnavi_home
{
	background-color: #000;
}

.gnavi_about
{
	background-color: #404040;
}

.gnavi_works
{
	background-color: #808080;
}

/**
 *	モバイルタブレット用CSS
 **/

@media screen and ( max-width:991px )
{
	.groundBox
	{
		padding-top: 51px;
	}
}

@media screen and ( min-width:991px )
{
	.groundBox > .row
	{
		position: relative;
	}
	
	.middleBox
	{
		position: inherit;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	
	.modal-backdrop
	{
		position: static;
	}
}